<body style="width: 100%; height: 100vh; margin:0; padding:0; display:flex; justify-content:center; align-items:center; background:darkmagenta; color:gold; font-weight: 600">
<form method="POST" action="/new" style="display:flex; flex-direction:column; align-items:center">
<label for="user"> Name: </label>
<input type="text" id="user" name="user" style="width:250px">
<br>
<label for="text"> Message: </label>
<input type="text" name="text" style="width:250px; margin-bottom: 1rem">
<button id="Submit" style="width:150px">Submit</button>
</form>
</body>